aws_credentials
notes
.DS_Store
kubeconfig
pip_input.mkv
pip_input.mp4
missing-*
*.txt
*.csv
*.sql

# temp
dr-controller/Gemfile
dr-controller/spec-cron-queue.rb
dr-controller/fixtures


video/
creds/
